.active-admin-menu {
    background-color: dodgerblue;
    color:white;
    font-weight:bold;
}
.active-memberships-search {
    background-color: dodgerblue;
    color:white;
    font-weight:bold;
    padding: 5px;
}